@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {

  @font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Lexend-Regular.woff2") format("WOFF2");
  }
  @font-face {
    font-family: "Calistoga";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Calistoga-Regular.woff2") format("WOFF2");
  }

  :root {
    --jump-length: 6.5rem;
  
    --background: 38 100% 98%;
    --foreground: 10 26% 9%;
 
    --muted: 315 7% 45%;
    --muted-foreground: 315 12% 32%;
 
    --popover: 330, 25%, 98%;
    --popover-foreground: 315 7% 11%;
 
    --card: 47 18% 96.1%;
    --card-foreground: 315 7% 11%;
 
    --border: 22 100% 90%;
    --input: 315 7% 90%;
 
    --primary: 18 91% 83%;
    --primary-foreground: 358 76% 15%;
 
    --secondary: 47 18% 96.1%;
    --secondary-foreground: 315 7% 9%;
 
    --accent: 16, 96%, 89%;
    --accent-foreground: 315 7% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 315 7% 11%;
 
    --radius: 0.5rem;

    --pine-green: 100, 69%, 23%;
    --forgetmenot-blue: 192, 69%, 23%;
    --poppy-red: 332, 69%, 23%;
    --daisy-yellow: 61, 69%, 23%;
  }

  @media (max-width:768px) {
    :root {
        --jump-length: 2.25rem;
    }
  }

  *:focus-visible {
    @apply ring-2 ring-offset-2 ring-offset-transparent outline-none ring-foreground rounded-sm !important
  }
  
  *::selection {
    @apply bg-foreground text-apricot-50 drop-shadow-none shadow-none
  }
  
  html {
    @apply bg-[radial-gradient(circle_at_top,hsl(var(--background))_0%,#FFEEDF_80%)] text-foreground font-sans tracking-widest scroll-smooth [scrollbar-color:_#3f313b_#FFDFCD] [scrollbar-width:thin]
  }  
}
