@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {

  @font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Lexend-VariableFont_wght.ttf") format("truetype");
  }
  @font-face {
    font-family: "Calistoga";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Calistoga-Regular.ttf") format("truetype");
  }

  :root {
    --background: 47 18% 90%;
    --foreground: 315 7% 11%;
 
    --muted: 315 7% 45%;
    --muted-foreground: 315 12% 32%;
 
    --popover: 330, 25%, 98%;
    --popover-foreground: 315 7% 11%;
 
    --card: 47 18% 96.1%;
    --card-foreground: 315 7% 11%;
 
    --border: 47 18% 90%;
    --input: 315 7% 90%;
 
    --primary: 18 91% 83%;
    --primary-foreground: 358 76% 15%;
 
    --secondary: 47 18% 96.1%;
    --secondary-foreground: 315 7% 9%;
 
    --accent: 16, 96%, 89%;
    --accent-foreground: 315 7% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 315 7% 11%;
 
    --radius: 0.5rem;

    --pine-green: 100, 69%, 23%;
    --forgetmenot-blue: 192, 69%, 23%;
    --poppy-red: 332, 69%, 23%;
    --daisy-yellow: 61, 69%, 23%;
  }
 
  /* .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 0 0% 83.1%;
  } */
}
